.checkboxFam {
    display: inline-block;
}

.buttonFam {
    display: inline-block;
    width: 10%;
    border-radius: 3px;
    border: 2px solid orange;
    color: orange;
}

.inputWrapper {
    max-width: 80%;
    height: auto;
    margin: 0 0 20px 0;
    margin-left: 10%;
    text-align: left;
}

.inputWrapper input {
  display: inline-block;
  margin-top: 10px;
}

.numbersInLine {
    display: inline-block;
    width: 23px;
    margin-right: 10px;
    font-weight: bold;
}